In [2]:
%matplotlib inline
import pandas as pd
import numpy as np

<div class="alert alert-success">The . symbol in Python means that we're looking for a thing, like a variable or a function, inside another thing.</div>


|          *Action*         |   *Shortcut*  |
|:-------------------------:|:-------------:|
| Run Cell                  | `shift+enter` |
| Run Cell and Insert Below |  `alt+enter`  |
| Insert Cell Above         |    `esc, a`   |
| Insert Cell Below         |    `esc, b`   |
| Convert Cell to Markdown  |    `esc, m`   |
| Convert Cell to Code      |    `esc, y`   |




|          *dtype*          |  *definition*                                          |
|:-------------------------:|:------------------------------------------------------:|
|bool_                      | `Boolean (True or False) stored as a byte`             |
|int_                       | `Default integer type (normally either int64 or int32)`|
|int8                       | `Byte (-128 to 127)`                                   |   
|int16                      | `Integer (-32768 to 32767)`                            |
|int32	                    | `Integer (-2147483648 to 2147483647)`                  |
|int64	                    | `Integer (-9223372036854775808 to 9223372036854775807)`| 
|uint8	                    | `Unsigned integer (0 to 255)`                          |
|uint16	                    | `Unsigned integer (0 to 65535)`                        |
|uint32	                    | `Unsigned integer (0 to 4294967295)`                   |
|uint64	                    |  `Unsigned integer (0 to 18446744073709551615)`        | 
|float_	                    | `Shorthand for float64`                          
|float16	                | `Half precision float`
|float32	                |  `Single precision float`
|float64	                | `Double precision float`
|complex_	                |  `Shorthand for complex128`
|complex64	                |  `Complex number, represented by two 32-bit floats`
|complex128	                | `Complex number, represented by two 64-bit floats`
|timestamps                 | `will get their own .ipynb`

# Pandas Data Structures

<div class="alert alert-success">Let's peep what happens when we use a Python data structure that holds many Python objects.</div>

## List

<div class="alert alert-danger">The standard mutable multi-element container in Python is the list.</div>

<div class="alert alert-success">To create a list of integers:</div>

In [24]:
intlist = list(range(10))

In [25]:
intlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
type(intlist[0])

int

In [27]:
type(intlist[6])

int

<div class="alert alert-success">To create a list of strings:</div>

In [29]:
strlist = [str(c) for c in intlist]
strlist

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [30]:
type(strlist[0])

str

### Creating Arrays from Python Lists

<div class="alert alert-success">First, we can use <strong>np.array</strong> to create arrays from Python lists:</div>

In [31]:
# integer array:
np.array([1, 4, 2, 5, 3])

array([1, 4, 2, 5, 3])


<div class="alert alert-danger">Unlike Python lists, NumPy is constrained to arrays that all contain the same dtype. If dtypes do not match, NumPy will upcast if possible (here, integers are up-cast to floating point):</div>

In [32]:
np.array([3.14, 4, 2, 5, 3])

array([3.14, 4.  , 2.  , 5.  , 3.  ])

<div class="alert alert-success">To explicitly set the data type of the resulting array, we can use the <strong>dtype</strong> keyword:.</div>

In [33]:
np.array([1, 4, 2, 5, 3], dtype='float32')

array([1., 4., 2., 5., 3.], dtype=float32)

In [34]:
np.array([1, 4, 2, 5, 3], dtype='int')

array([1, 4, 2, 5, 3])


<div class="alert alert-danger">Finally, unlike Python lists, NumPy arrays can explicitly be multi-dimensional; here's one way of initializing a multidimensional array using a list of lists:</div>

In [36]:
# nested lists result in multi-dimensional arrays
np.array([range(i, i + 3) for i in [2, 4, 6]])

array([[2, 3, 4],
       [4, 5, 6],
       [6, 7, 8]])


<div class="alert alert-danger">The inner lists are treated as rows of the resulting two-dimensional array.

</div>

### Creating Arrays from Scratch

In [37]:
# Create a length-10 integer array filled with zeros
np.zeros(10, dtype=int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [38]:
# Create a 3x5 floating-point array filled with ones
np.ones((3, 5), dtype=float)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [39]:
# Create a 3x5 array filled with 3.14
np.full((3, 5), 3.14)

array([[3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14]])

In [40]:
# Create an array filled with a linear sequence
# Starting at 0, ending at 20, stepping by 2
# (this is similar to the built-in range() function)
np.arange(0, 20, 2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [41]:
# Create an array of five values evenly spaced between 0 and 1
np.linspace(0, 1, 5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [42]:
# Create a 3x3 array of uniformly distributed
# random values between 0 and 1
np.random.random((3, 3))

array([[0.5504001 , 0.47957822, 0.65345066],
       [0.57693651, 0.03866721, 0.99510185],
       [0.43349998, 0.79734788, 0.25254538]])

In [43]:
# Create a 3x3 array of normally distributed random values
# with mean 0 and standard deviation 1
np.random.normal(0, 1, (3, 3))

array([[ 0.23228642,  0.90861697,  0.66885224],
       [-0.0718792 , -0.29511044, -0.05505738],
       [ 0.1328161 ,  0.36130577, -0.56274963]])

In [44]:
# Create a 3x3 array of random integers in the interval [0, 10)
np.random.randint(0, 10, (3, 3))

array([[0, 6, 0],
       [8, 4, 0],
       [7, 8, 3]])

In [45]:
# Create a 3x3 identity matrix
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [46]:
# Create an uninitialized array of three integers
# The values will be whatever happens to already exist at that memory location
np.empty(3)

array([1., 1., 1.])

## Series

<div class="alert alert-success"> A Series is a single vector of data (like a NumPy array) with an index that labels each element in the vector.  </div>

In [2]:
counts = pd.Series([632, 1638, 569, 115])
counts

0     632
1    1638
2     569
3     115
dtype: int64

<div class="alert alert-success"> If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the Series, while the index is a pandas Index object. </div>

In [3]:
counts.values

array([ 632, 1638,  569,  115], dtype=int64)

In [4]:
counts.index

RangeIndex(start=0, stop=4, step=1)

<div class="alert alert-success"> You can assign meaningful labels to the index, if they are available:</div>

In [5]:
prettylittleliars = pd.Series([632, 1638, 569, 115], 
    index=['spencer', 'emily', 'hanna', 'arya'])

prettylittleliars

spencer     632
emily      1638
hanna       569
arya        115
dtype: int64

<div class="alert alert-success"> These labels can be used to refer to the values in the series.</div>

In [6]:
prettylittleliars['emily']

1638

In [7]:
prettylittleliars[[liar.endswith('a') for liar in prettylittleliars.index]]

hanna    569
arya     115
dtype: int64

In [8]:
[liar.endswith('a') for liar in prettylittleliars.index]

[False, False, True, True]

<div class="alert alert-success"> Notice that the indexing operation preserved the association between the values and the corresponding indices. </div>

<div class="alert alert-success"> We can still use positional indexing if we wish.  </div>

In [9]:
prettylittleliars[0]

632

In [11]:
prettylittleliars[3]

115

<div class="alert alert-success"> We can give both the array of values and the index meaningful labels themselves:</div>

In [12]:
prettylittleliars.name = 'count of A messages recieved'
prettylittleliars.index.name = 'liar'
prettylittleliars

liar
spencer     632
emily      1638
hanna       569
arya        115
Name: count of A messages recieved, dtype: int64

<div class="alert alert-success">NumPy's math functions and other operations can be applied to Series without losing the data structure.  </div>

In [13]:
np.log(prettylittleliars)

liar
spencer    6.448889
emily      7.401231
hanna      6.343880
arya       4.744932
Name: count of A messages recieved, dtype: float64

<div class="alert alert-success"> We can also filter according to the values in the Series: </div>

In [14]:
prettylittleliars[prettylittleliars>200]

liar
spencer     632
emily      1638
hanna       569
Name: count of A messages recieved, dtype: int64

<div class="alert alert-success"> A Series can be thought of as an ordered key-value store. In fact, we can create one from a dict:</div>

In [15]:
theliars_dict = {'spencer': 632,
                'emily': 1638,
                'hanna': 569,
                'arya': 115}

In [16]:
theliars_dict

{'spencer': 632, 'emily': 1638, 'hanna': 569, 'arya': 115}

In [17]:
pd.Series(theliars_dict)

spencer     632
emily      1638
hanna       569
arya        115
dtype: int64

<div class="alert alert-success"> Notice that the Series is created in key-sorted order.</div>

<div class="alert alert-success">If we pass a custom index to Series, it will select the corresponding values from the dict, and treat indices without corrsponding values as missing. Pandas uses the NaN (not a number) type for missing values.  </div>

In [18]:
A = pd.Series(theliars_dict, index=['spencer',
                                   'mona',
                                   'ezra',
                                   'arya'])

A

spencer    632.0
mona         NaN
ezra         NaN
arya       115.0
dtype: float64

In [19]:
A.isnull()

spencer    False
mona        True
ezra        True
arya       False
dtype: bool

<div class="alert alert-danger"> Critically, the labels are used to align data when used in operations with other Series objects:

In [20]:
prettylittleliars + A

arya        230.0
emily         NaN
ezra          NaN
hanna         NaN
mona          NaN
spencer    1264.0
dtype: float64

<div class="alert alert-success"> Contrast this with NumPy arrays, where arrays of the same length will combine values element-wise; adding Series combined values with the same label in the resulting series. Notice also that the missing values were propogated by addition.  </div>

# Dataframe
For data that is multivariate, where for every index there are multiple fields or columns of data, often of varying data type, obviously.

In [3]:
data = pd.DataFrame({'value':[632, 1638, 569, 115, 433, 1130, 754, 555],
                     'patient':[1, 1, 1, 1, 2, 2, 2, 2],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 
    'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})
data

   value  patient          phylum
0    632        1      Firmicutes
1   1638        1  Proteobacteria
2    569        1  Actinobacteria
3    115        1   Bacteroidetes
4    433        2      Firmicutes
5   1130        2  Proteobacteria
6    754        2  Actinobacteria
7    555        2   Bacteroidetes

<div class="alert alert-success">  Note it is sorted by column name. We can change the order by indexing them in the order we desire: </div>

In [4]:
data[['phylum', 'value', 'patient']]

           phylum  value  patient
0      Firmicutes    632        1
1  Proteobacteria   1638        1
2  Actinobacteria    569        1
3   Bacteroidetes    115        1
4      Firmicutes    433        2
5  Proteobacteria   1130        2
6  Actinobacteria    754        2
7   Bacteroidetes    555        2

<div class="alert alert-success"> A DataFrame has a second index, representing the columns: </div>

In [5]:
data.columns

Index(['value', 'patient', 'phylum'], dtype='object')

<div class="alert alert-success">If we wish to access columns, we can do so either by dict-like indexing or by attribute:  </div>

In [6]:
data['value']

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: int64

In [7]:
data.value

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: int64

In [8]:
type(data.value)

pandas.core.series.Series

In [9]:
type(data[['value']])

pandas.core.frame.DataFrame

<div class="alert alert-success">This is different from the Series, where dict-like indexing retrieved a particular row. If we want to access a row in a df, we use ix.</div>

In [10]:
data.ix[3]

C:\Users\emyhr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

value                115
patient                1
phylum     Bacteroidetes
Name: 3, dtype: object

In [11]:
data.iloc[3]

value                115
patient                1
phylum     Bacteroidetes
Name: 3, dtype: object

In [12]:
data.loc[3]

value                115
patient                1
phylum     Bacteroidetes
Name: 3, dtype: object

<div class="alert alert-success">Another way to create a df is by a dict of dicts.</div>

In [13]:
data = pd.DataFrame({0: {'patient': 1, 'phylum': 'Firmicutes', 'value': 632},
                    1: {'patient': 1, 'phylum': 'Proteobacteria', 'value': 1638},
                    2: {'patient': 1, 'phylum': 'Actinobacteria', 'value': 569},
                    3: {'patient': 1, 'phylum': 'Bacteroidetes', 'value': 115},
                    4: {'patient': 2, 'phylum': 'Firmicutes', 'value': 433},
                    5: {'patient': 2, 'phylum': 'Proteobacteria', 'value': 1130},
                    6: {'patient': 2, 'phylum': 'Actinobacteria', 'value': 754},
                    7: {'patient': 2, 'phylum': 'Bacteroidetes', 'value': 555}})

In [14]:
data

,0,1,2,3,4,5,6,7
patient,1,1,1,1,2,2,2,2
phylum,Firmicutes,Proteobacteria,Actinobacteria,Bacteroidetes,Firmicutes,Proteobacteria,Actinobacteria,Bacteroidetes
value,632,1638,569,115,433,1130,754,555

In [19]:
data.T

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes   115
4       2      Firmicutes   433
5       2  Proteobacteria  1130
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

In [22]:
import pandas as pd 
import numpy as np

In [23]:
data

,0,1,2,3,4,5,6,7
patient,1,1,1,1,2,2,2,2
phylum,Firmicutes,Proteobacteria,Actinobacteria,Bacteroidetes,Firmicutes,Proteobacteria,Actinobacteria,Bacteroidetes
value,632,1638,569,115,433,1130,754,555

In [24]:
data.T

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes   115
4       2      Firmicutes   433
5       2  Proteobacteria  1130
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

In [25]:
data

,0,1,2,3,4,5,6,7
patient,1,1,1,1,2,2,2,2
phylum,Firmicutes,Proteobacteria,Actinobacteria,Bacteroidetes,Firmicutes,Proteobacteria,Actinobacteria,Bacteroidetes
value,632,1638,569,115,433,1130,754,555

<div class="alert alert-success">assign it to new variable</div>

In [26]:
data = data.T
data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes   115
4       2      Firmicutes   433
5       2  Proteobacteria  1130
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

<div class="alert alert-success">Its important to note that the Series returned when a DataFrame is indexted is merely a view on the DataFrame, and not a copy of the data itself. So don't be a dumbass with that:.</div>

In [27]:
values = data.value
values

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: object

In [28]:
values[5] = 0
values

0     632
1    1638
2     569
3     115
4     433
5       0
6     754
7     555
Name: value, dtype: object

In [29]:
data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes   115
4       2      Firmicutes   433
5       2  Proteobacteria     0
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

In [30]:
values = data.value.copy()
values[5] = 1000
data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes   115
4       2      Firmicutes   433
5       2  Proteobacteria     0
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

In [31]:
data.value[3] = 14
data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes    14
4       2      Firmicutes   433
5       2  Proteobacteria     0
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

In [32]:
data['year'] = 2019

In [33]:
data

  patient          phylum value  year
0       1      Firmicutes   632  2019
1       1  Proteobacteria  1638  2019
2       1  Actinobacteria   569  2019
3       1   Bacteroidetes    14  2019
4       2      Firmicutes   433  2019
5       2  Proteobacteria     0  2019
6       2  Actinobacteria   754  2019
7       2   Bacteroidetes   555  2019

In [34]:
del data['year']
data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes    14
4       2      Firmicutes   433
5       2  Proteobacteria     0
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

# Importing Datums

In [ ]:
#higherarchical index 

df = pd.read_csv("data/csv-name.csv", index_col=['columnname1','columnname2'])
df.head()

In [ ]:
# skiprows 
df = pd.read_csv("data/csv-name.csv", skiprows=[3,4,6]).head()

In [ ]:
# nrows  
df = pd.read_csv("data/csv-name.csv", nrows=4) #imports only 4 rows

<div class="alert alert-success">The chunk size argument will return an iterable object that can be used in a loop.</div>

In [ ]:
# chunk size 
data_chunks = pd.read_csv("data/microbiome.csv", chunksize=15)

mean_tissue = {chunk.Taxon[0]:chunk.Tissue.mean() for chunk in data_chunks}
    
mean_tissue

# Putting it together

In [3]:
import pandas as pd 
import numpy as np

In [4]:
baseball = pd.read_csv("data/baseball.csv", index_col="id")

In [6]:
baseball.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

<div class="alert alert-success">I specified the id column as the index since I thought it would be a unique identifier and I know nothing about sportsball. Lets try to create a unique identifier by combining player and year.</div>

In [7]:
player_id = baseball.player + baseball.year.astype(str)

In [9]:
baseball_new_index = baseball.copy()

In [10]:
baseball_new_index = player_id

In [11]:
baseball_new_index.head()

id
88641    womacto012006
88643    schilcu012006
88645    myersmi012006
88649    helliri012006
88650    johnsra052006
dtype: object

In [12]:
player_id = baseball.player + baseball.year.astype(str) # creates player_id
baseball_newind = baseball.copy() # creates copy of df called baseball_newind
baseball_newind.index = player_id # sets the index 
baseball_newind.head() # prints it

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
womacto012006,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
schilcu012006,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
myersmi012006,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
helliri012006,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
johnsra052006,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

In [13]:
baseball_newind.index.is_unique

False

<div class="alert alert-success">Nevermind LOLZ. So, indices need not be unique. Our choice is not unique because some players change teams within years.</div>

In [14]:
pd.Series(baseball_newind.index).value_counts()

cirilje012007    2
wickmbo012007    2
wellsda012007    2
claytro012007    2
coninje012007    2
benitar012007    2
hernaro012007    2
trachst012007    2
loftoke012007    2
sweenma012007    2
gomezch022007    2
francju012007    2
seleaa012006     1
smoltjo012007    1
johnsra052006    1
gonzalu012007    1
cormirh012007    1
suppaje012007    1
gonzalu012006    1
thomeji012007    1
gordoto012007    1
delgaca012007    1
rogerke012007    1
stinnke012007    1
wakefti012007    1
ramirma022007    1
finlest012006    1
floydcl012007    1
schilcu012007    1
alomasa022007    1
                ..
rodriiv012007    1
valenjo032007    1
aloumo012007     1
mabryjo012007    1
kleskry012007    1
moyerja012007    1
oliveda022007    1
sprinru012007    1
witasja012007    1
clemero022007    1
vizquom012007    1
piazzmi012007    1
seleaa012007     1
easleda012007    1
greensh012007    1
myersmi012007    1
griffke022007    1
loaizes012007    1
mussimi012007    1
villoro012007    1
zaungr012007     1
schilcu012006    1
womacto012006    1
edmonji012007    1
whitero022007    1
ausmubr012007    1
williwo022007    1
hoffmtr012007    1
perezne012007    1
parkch012007     1
Length: 88, dtype: int64

Obviously and literally this means that indexing by a label with more than 1 count will return more than one value for those labels.

In [19]:
baseball_newind.ix['wickmbo012007']

C:\Users\emyhr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
wickmbo012007,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
wickmbo012007,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

Because we are in sports hell working with sports hell data with sports hell knowledge lacking on all fronts for me, we're going to have to try again to make a truly unique index and combine player team and year and hope thats how sportsball works?

In [20]:
player_unique = baseball.player + baseball.team + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_unique
baseball_newind.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
womacto01CHN2006,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
schilcu01BOS2006,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
myersmi01NYA2006,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
helliri01MIL2006,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
johnsra05NYA2006,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

In [21]:
baseball_newind.index.is_unique

True

### Manipulating indices

**Reindexing** allows you to manipulate the data labels in a DataFrame. It forces a DataFrame to conform to the new index, and optionally, fill in missing data if requested.

A simple use of `reindex` is to alter the order of the rows:

In [23]:
baseball.reindex(baseball.index[::-1]) # notice how the bottom of the df is now at the top? negative 1 means last row

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89523,biggicr01,2007,1,HOU,NL,141,517,68,130,31,...,50.0,4.0,3.0,23,112.0,0.0,3.0,7.0,5.0,5.0
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,...,66.0,5.0,0.0,132,54.0,43.0,3.0,0.0,2.0,13.0
89502,cirilje01,2007,1,MIN,AL,50,153,18,40,9,...,21.0,2.0,0.0,15,13.0,0.0,1.0,3.0,2.0,9.0
89501,cirilje01,2007,2,ARI,NL,28,40,6,8,4,...,6.0,0.0,0.0,4,6.0,0.0,0.0,0.0,0.0,1.0
89499,claytro01,2007,1,TOR,AL,69,189,23,48,14,...,12.0,2.0,1.0,14,50.0,0.0,1.0,3.0,3.0,8.0
89498,claytro01,2007,2,BOS,AL,8,6,1,0,0,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,2.0
89497,clemero02,2007,1,NYA,AL,2,2,0,1,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89495,coninje01,2007,1,CIN,NL,80,215,23,57,11,...,32.0,4.0,0.0,20,28.0,0.0,0.0,1.0,6.0,4.0
89494,coninje01,2007,2,NYN,NL,21,41,2,8,2,...,5.0,0.0,0.0,7,8.0,2.0,0.0,1.0,1.0,1.0
89493,cormirh01,2007,1,CIN,NL,6,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89489,delgaca01,2007,1,NYN,NL,139,538,71,139,30,...,87.0,4.0,0.0,52,118.0,8.0,11.0,0.0,6.0,12.0
89482,easleda01,2007,1,NYN,NL,76,193,24,54,6,...,26.0,0.0,1.0,19,35.0,1.0,5.0,0.0,1.0,2.0
89481,edmonji01,2007,1,SLN,NL,117,365,39,92,15,...,53.0,0.0,2.0,41,75.0,2.0,0.0,2.0,3.0,9.0
89480,embreal01,2007,1,OAK,AL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89474,finlest01,2007,1,COL,NL,43,94,9,17,3,...,2.0,0.0,0.0,8,4.0,1.0,0.0,0.0,0.0,2.0
89473,floydcl01,2007,1,CHN,NL,108,282,40,80,10,...,45.0,0.0,0.0,35,47.0,5.0,5.0,0.0,0.0,6.0
89469,glavito02,2007,1,NYN,NL,33,56,3,12,1,...,4.0,0.0,0.0,6,5.0,0.0,0.0,12.0,1.0,0.0
89468,gomezch02,2007,1,BAL,AL,73,169,17,51,10,...,16.0,1.0,2.0,10,20.0,1.0,0.0,5.0,1.0,5.0
89467,gomezch02,2007,2,CLE,AL,19,53,4,15,2,...,5.0,0.0,0.0,0,6.0,0.0,0.0,1.0,1.0,1.0
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,...,68.0,6.0,2.0,56,56.0,4.0,4.0,0.0,2.0,11.0
89465,gordoto01,2007,1,PHI,NL,44,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89464,graffto01,2007,1,MIL,NL,86,231,34,55,8,...,30.0,0.0,1.0,24,44.0,6.0,3.0,0.0,2.0,7.0
89463,greensh01,2007,1,NYN,NL,130,446,62,130,30,...,46.0,11.0,1.0,37,62.0,4.0,5.0,1.0,1.0,14.0
89462,griffke02,2007,1,CIN,NL,144,528,78,146,24,...,93.0,6.0,1.0,85,99.0,14.0,1.0,0.0,9.0,14.0
89460,guarded01,2007,1,CIN,NL,15,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89361,thomafr04,2007,1,TOR,AL,155,531,63,147,30,...,95.0,0.0,0.0,81,94.0,3.0,7.0,0.0,5.0,14.0
89360,thomeji01,2007,1,CHA,AL,130,432,79,119,19,...,96.0,0.0,1.0,95,134.0,11.0,6.0,0.0,3.0,10.0
89359,timlimi01,2007,1,BOS,AL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89355,trachst01,2007,1,BAL,AL,3,5,0,0,0,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
89354,trachst01,2007,2,CHN,NL,4,7,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
89352,valenjo03,2007,1,NYN,NL,51,166,18,40,11,...,18.0,2.0,1.0,15,28.0,4.0,0.0,1.0,1.0,5.0
89348,villoro01,2007,1,NYA,AL,6,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89347,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51.0,14.0,6.0,44,48.0,6.0,1.0,14.0,3.0,14.0
89345,wakefti01,2007,1,BOS,AL,1,2,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
89343,walketo04,2007,1,OAK,AL,18,48,5,13,1,...,4.0,0.0,0.0,2,4.0,0.0,0.0,0.0,2.0,2.0
89341,weathda01,2007,1,CIN,NL,67,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89340,wellsda01,2007,1,SDN,NL,22,38,1,4,0,...,0.0,0.0,0.0,0,12.0,0.0,0.0,4.0,0.0,0.0
89339,wellsda01,2007,2,LAN,NL,7,15,2,4,1,...,1.0,0.0,0.0,0,6.0,0.0,0.0,0.0,0.0,0.0
89338,whiteri01,2007,1,HOU,NL,20,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
89337,whitero02,2007,1,MIN,AL,38,109,8,19,4,...,20.0,0.0,0.0,6,19.0,0.0,3.0,0.0,1.0,2.0
89336,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89335,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89334,williwo02,2007,1,HOU,NL,33,59,3,6,0,...,2.0,0.0,0.0,0,25.0,0.0,0.0,5.0,0.0,1.0
89333,witasja01,2007,1,TBA,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89330,zaungr01,2007,1,TOR,AL,110,331,43,80,24,...,52.0,0.0,0.0,51,55.0,8.0,2.0,1.0,6.0,9.0
89178,francju01,2007,1,NYN,NL,40,50,7,10,0,...,8.0,2.0,1.0,10,13.0,0.0,0.0,0.0,1.0,1.0
89177,francju01,2007,2,ATL,NL,15,40,1,10,3,...,8.0,0.0,0.0,4,10.0,1.0,0.0,0.0,1.0,1.0
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,...,0.0,0.0,0.0,1,7.0,0.0,0.0,6.0,0.0,1.0
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,...,73.0,0.0,1.0,69,58.0,10.0,7.0,0.0,6.0,14.0
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,...,40.0,7.0,0.0,46,55.0,2.0,2.0,3.0,4.0,6.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0

<div class="alert alert-success">Notice that the id index is not sequential. Say we wanted to populate the table with every id value. We could specify and index that is a sequence from the first to the last id numbers in the database, and Pandas would fill in the missing data with NaN values</div>

In [25]:
id_range = range(baseball.index.values.min(), baseball.index.values.max())
baseball.reindex(id_range)

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006.0,2.0,CHN,NL,19.0,50.0,6.0,14.0,1.0,...,2.0,1.0,1.0,4.0,4.0,0.0,0.0,3.0,0.0,0.0
88642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88643,schilcu01,2006.0,1.0,BOS,AL,31.0,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
88644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88645,myersmi01,2006.0,1.0,NYA,AL,62.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88649,helliri01,2006.0,1.0,MIL,NL,20.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006.0,1.0,NYA,AL,33.0,6.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
88651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88652,finlest01,2006.0,1.0,SFN,NL,139.0,426.0,66.0,105.0,21.0,...,40.0,7.0,0.0,46.0,55.0,2.0,2.0,3.0,4.0,6.0
88653,gonzalu01,2006.0,1.0,ARI,NL,153.0,586.0,93.0,159.0,52.0,...,73.0,0.0,1.0,69.0,58.0,10.0,7.0,0.0,6.0,14.0
88654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88662,seleaa01,2006.0,1.0,LAN,NL,28.0,26.0,2.0,5.0,1.0,...,0.0,0.0,0.0,1.0,7.0,0.0,0.0,6.0,0.0,1.0
88663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89521,bondsba01,2007.0,1.0,SFN,NL,126.0,340.0,75.0,94.0,14.0,...,66.0,5.0,0.0,132.0,54.0,43.0,3.0,0.0,2.0,13.0
89522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89523,biggicr01,2007.0,1.0,HOU,NL,141.0,517.0,68.0,130.0,31.0,...,50.0,4.0,3.0,23.0,112.0,0.0,3.0,7.0,5.0,5.0
89524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89525,benitar01,2007.0,2.0,FLO,NL,34.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89526,benitar01,2007.0,1.0,SFN,NL,19.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89530,ausmubr01,2007.0,1.0,HOU,NL,117.0,349.0,38.0,82.0,16.0,...,25.0,6.0,1.0,37.0,74.0,3.0,6.0,4.0,1.0,11.0
89531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89533,aloumo01,2007.0,1.0,NYN,NL,87.0,328.0,51.0,112.0,19.0,...,49.0,3.0,0.0,27.0,30.0,5.0,2.0,0.0,3.0,13.0

<div class="alert alert-success">We can remove rows or columns via the drop method::</div>

In [27]:
baseball.shape

(100, 22)

In [28]:
baseball.drop([89525, 89526])

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,...,40.0,7.0,0.0,46,55.0,2.0,2.0,3.0,4.0,6.0
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,...,73.0,0.0,1.0,69,58.0,10.0,7.0,0.0,6.0,14.0
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,...,0.0,0.0,0.0,1,7.0,0.0,0.0,6.0,0.0,1.0
89177,francju01,2007,2,ATL,NL,15,40,1,10,3,...,8.0,0.0,0.0,4,10.0,1.0,0.0,0.0,1.0,1.0
89178,francju01,2007,1,NYN,NL,40,50,7,10,0,...,8.0,2.0,1.0,10,13.0,0.0,0.0,0.0,1.0,1.0
89330,zaungr01,2007,1,TOR,AL,110,331,43,80,24,...,52.0,0.0,0.0,51,55.0,8.0,2.0,1.0,6.0,9.0
89333,witasja01,2007,1,TBA,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89334,williwo02,2007,1,HOU,NL,33,59,3,6,0,...,2.0,0.0,0.0,0,25.0,0.0,0.0,5.0,0.0,1.0
89335,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89336,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89337,whitero02,2007,1,MIN,AL,38,109,8,19,4,...,20.0,0.0,0.0,6,19.0,0.0,3.0,0.0,1.0,2.0
89338,whiteri01,2007,1,HOU,NL,20,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
89339,wellsda01,2007,2,LAN,NL,7,15,2,4,1,...,1.0,0.0,0.0,0,6.0,0.0,0.0,0.0,0.0,0.0
89340,wellsda01,2007,1,SDN,NL,22,38,1,4,0,...,0.0,0.0,0.0,0,12.0,0.0,0.0,4.0,0.0,0.0
89341,weathda01,2007,1,CIN,NL,67,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89343,walketo04,2007,1,OAK,AL,18,48,5,13,1,...,4.0,0.0,0.0,2,4.0,0.0,0.0,0.0,2.0,2.0
89345,wakefti01,2007,1,BOS,AL,1,2,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
89347,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51.0,14.0,6.0,44,48.0,6.0,1.0,14.0,3.0,14.0
89348,villoro01,2007,1,NYA,AL,6,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89352,valenjo03,2007,1,NYN,NL,51,166,18,40,11,...,18.0,2.0,1.0,15,28.0,4.0,0.0,1.0,1.0,5.0
89354,trachst01,2007,2,CHN,NL,4,7,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
89355,trachst01,2007,1,BAL,AL,3,5,0,0,0,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
89359,timlimi01,2007,1,BOS,AL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89360,thomeji01,2007,1,CHA,AL,130,432,79,119,19,...,96.0,0.0,1.0,95,134.0,11.0,6.0,0.0,3.0,10.0
89361,thomafr04,2007,1,TOR,AL,155,531,63,147,30,...,95.0,0.0,0.0,81,94.0,3.0,7.0,0.0,5.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89451,hernaro01,2007,2,LAN,NL,22,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89452,hernaro01,2007,1,CLE,AL,2,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89460,guarded01,2007,1,CIN,NL,15,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89462,griffke02,2007,1,CIN,NL,144,528,78,146,24,...,93.0,6.0,1.0,85,99.0,14.0,1.0,0.0,9.0,14.0
89463,greensh01,2007,1,NYN,NL,130,446,62,130,30,...,46.0,11.0,1.0,37,62.0,4.0,5.0,1.0,1.0,14.0
89464,graffto01,2007,1,MIL,NL,86,231,34,55,8,...,30.0,0.0,1.0,24,44.0,6.0,3.0,0.0,2.0,7.0
89465,gordoto01,2007,1,PHI,NL,44,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,...,68.0,6.0,2.0,56,56.0,4.0,4.0,0.0,2.0,11.0
89467,gomezch02,2007,2,CLE,AL,19,53,4,15,2,...,5.0,0.0,0.0,0,6.0,0.0,0.0,1.0,1.0,1.0
89468,gomezch02,2007,1,BAL,AL,73,169,17,51,10,...,16.0,1.0,2.0,10,20.0,1.0,0.0,5.0,1.0,5.0
89469,glavito02,2007,1,NYN,NL,33,56,3,12,1,...,4.0,0.0,0.0,6,5.0,0.0,0.0,12.0,1.0,0.0
89473,floydcl01,2007,1,CHN,NL,108,282,40,80,10,...,45.0,0.0,0.0,35,47.0,5.0,5.0,0.0,0.0,6.0
89474,finlest01,2007,1,COL,NL,43,94,9,17,3,...,2.0,0.0,0.0,8,4.0,1.0,0.0,0.0,0.0,2.0
89480,embreal01,2007,1,OAK,AL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89481,edmonji01,2007,1,SLN,NL,117,365,39,92,15,...,53.0,0.0,2.0,41,75.0,2.0,0.0,2.0,3.0,9.0
89482,easleda01,2007,1,NYN,NL,76,193,24,54,6,...,26.0,0.0,1.0,19,35.0,1.0,5.0,0.0,1.0,2.0
89489,delgaca01,2007,1,NYN,NL,139,538,71,139,30,...,87.0,4.0,0.0,52,118.0,8.0,11.0,0.0,6.0,12.0
89493,cormirh01,2007,1,CIN,NL,6,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89494,coninje01,2007,2,NYN,NL,21,41,2,8,2,...,5.0,0.0,0.0,7,8.0,2.0,0.0,1.0,1.0,1.0
89495,coninje01,2007,1,CIN,NL,80,215,23,57,11,...,32.0,4.0,0.0,20,28.0,0.0,0.0,1.0,6.0,4.0
89497,clemero02,2007,1,NYA,AL,2,2,0,1,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89498,claytro01,2007,2,BOS,AL,8,6,1,0,0,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,2.0
89499,claytro01,2007,1,TOR,AL,69,189,23,48,14,...,12.0,2.0,1.0,14,50.0,0.0,1.0,3.0,3.0,8.0
89501,cirilje01,2007,2,ARI,NL,28,40,6,8,4,...,6.0,0.0,0.0,4,6.0,0.0,0.0,0.0,0.0,1.0
89502,cirilje01,2007,1,MIN,AL,50,153,18,40,9,...,21.0,2.0,0.0,15,13.0,0.0,1.0,3.0,2.0,9.0
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,...,66.0,5.0,0.0,132,54.0,43.0,3.0,0.0,2.0,13.0
89523,biggicr01,2007,1,HOU,NL,141,517,68,130,31,...,50.0,4.0,3.0,23,112.0,0.0,3.0,7.0,5.0,5.0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0

<div class="alert alert-success">two rows are now gone</div>

In [31]:
baseball.drop(['ibb','hbp'], axis=1)

,player,year,stint,team,lg,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,0,1,2.0,1.0,1.0,4,4.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,0,0,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,12,6,40.0,7.0,0.0,46,55.0,3.0,4.0,6.0
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,2,15,73.0,0.0,1.0,69,58.0,0.0,6.0,14.0
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,0,0,0.0,0.0,0.0,1,7.0,6.0,0.0,1.0
89177,francju01,2007,2,ATL,NL,15,40,1,10,3,0,0,8.0,0.0,0.0,4,10.0,0.0,1.0,1.0
89178,francju01,2007,1,NYN,NL,40,50,7,10,0,0,1,8.0,2.0,1.0,10,13.0,0.0,1.0,1.0
89330,zaungr01,2007,1,TOR,AL,110,331,43,80,24,1,10,52.0,0.0,0.0,51,55.0,1.0,6.0,9.0
89333,witasja01,2007,1,TBA,AL,3,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89334,williwo02,2007,1,HOU,NL,33,59,3,6,0,0,1,2.0,0.0,0.0,0,25.0,5.0,0.0,1.0
89335,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89336,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89337,whitero02,2007,1,MIN,AL,38,109,8,19,4,0,4,20.0,0.0,0.0,6,19.0,0.0,1.0,2.0
89338,whiteri01,2007,1,HOU,NL,20,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0
89339,wellsda01,2007,2,LAN,NL,7,15,2,4,1,0,0,1.0,0.0,0.0,0,6.0,0.0,0.0,0.0
89340,wellsda01,2007,1,SDN,NL,22,38,1,4,0,0,0,0.0,0.0,0.0,0,12.0,4.0,0.0,0.0
89341,weathda01,2007,1,CIN,NL,67,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89343,walketo04,2007,1,OAK,AL,18,48,5,13,1,0,0,4.0,0.0,0.0,2,4.0,0.0,2.0,2.0
89345,wakefti01,2007,1,BOS,AL,1,2,0,0,0,0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0
89347,vizquom01,2007,1,SFN,NL,145,513,54,126,18,3,4,51.0,14.0,6.0,44,48.0,14.0,3.0,14.0
89348,villoro01,2007,1,NYA,AL,6,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89352,valenjo03,2007,1,NYN,NL,51,166,18,40,11,1,3,18.0,2.0,1.0,15,28.0,1.0,1.0,5.0
89354,trachst01,2007,2,CHN,NL,4,7,0,1,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0
89355,trachst01,2007,1,BAL,AL,3,5,0,0,0,0,0,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0
89359,timlimi01,2007,1,BOS,AL,4,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89360,thomeji01,2007,1,CHA,AL,130,432,79,119,19,0,35,96.0,0.0,1.0,95,134.0,0.0,3.0,10.0
89361,thomafr04,2007,1,TOR,AL,155,531,63,147,30,0,26,95.0,0.0,0.0,81,94.0,0.0,5.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89460,guarded01,2007,1,CIN,NL,15,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89462,griffke02,2007,1,CIN,NL,144,528,78,146,24,1,30,93.0,6.0,1.0,85,99.0,0.0,9.0,14.0
89463,greensh01,2007,1,NYN,NL,130,446,62,130,30,1,10,46.0,11.0,1.0,37,62.0,1.0,1.0,14.0
89464,graffto01,2007,1,MIL,NL,86,231,34,55,8,0,9,30.0,0.0,1.0,24,44.0,0.0,2.0,7.0
89465,gordoto01,2007,1,PHI,NL,44,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,2,15,68.0,6.0,2.0,56,56.0,0.0,2.0,11.0
89467,gomezch02,2007,2,CLE,AL,19,53,4,15,2,0,0,5.0,0.0,0.0,0,6.0,1.0,1.0,1.0
89468,gomezch02,2007,1,BAL,AL,73,169,17,51,10,1,1,16.0,1.0,2.0,10,20.0,5.0,1.0,5.0
89469,glavito02,2007,1,NYN,NL,33,56,3,12,1,0,0,4.0,0.0,0.0,6,5.0,12.0,1.0,0.0
89473,floydcl01,2007,1,CHN,NL,108,282,40,80,10,1,9,45.0,0.0,0.0,35,47.0,0.0,0.0,6.0
89474,finlest01,2007,1,COL,NL,43,94,9,17,3,0,1,2.0,0.0,0.0,8,4.0,0.0,0.0,2.0
89480,embreal01,2007,1,OAK,AL,4,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89481,edmonji01,2007,1,SLN,NL,117,365,39,92,15,2,12,53.0,0.0,2.0,41,75.0,2.0,3.0,9.0
89482,easleda01,2007,1,NYN,NL,76,193,24,54,6,0,10,26.0,0.0,1.0,19,35.0,0.0,1.0,2.0
89489,delgaca01,2007,1,NYN,NL,139,538,71,139,30,0,24,87.0,4.0,0.0,52,118.0,0.0,6.0,12.0
89493,cormirh01,2007,1,CIN,NL,6,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89494,coninje01,2007,2,NYN,NL,21,41,2,8,2,0,0,5.0,0.0,0.0,7,8.0,1.0,1.0,1.0
89495,coninje01,2007,1,CIN,NL,80,215,23,57,11,1,6,32.0,4.0,0.0,20,28.0,1.0,6.0,4.0
89497,clemero02,2007,1,NYA,AL,2,2,0,1,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89498,claytro01,2007,2,BOS,AL,8,6,1,0,0,0,0,0.0,0.0,0.0,0,3.0,0.0,0.0,2.0
89499,claytro01,2007,1,TOR,AL,69,189,23,48,14,0,1,12.0,2.0,1.0,14,50.0,3.0,3.0,8.0
89501,cirilje01,2007,2,ARI,NL,28,40,6,8,4,0,0,6.0,0.0,0.0,4,6.0,0.0,0.0,1.0
89502,cirilje01,2007,1,MIN,AL,50,153,18,40,9,2,2,21.0,2.0,0.0,15,13.0,3.0,2.0,9.0
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,0,28,66.0,5.0,0.0,132,54.0,0.0,2.0,13.0
89523,biggicr01,2007,1,HOU,NL,141,517,68,130,31,3,10,50.0,4.0,3.0,23,112.0,7.0,5.0,5.0
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,3,3,25.0,6.0,1.0,37,74.0,4.0,1.0,11.0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,1,13,49.0,3.0,0.0,27,30.0,0.0,3.0,13.0
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,0,0,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0

## Indexing and Selection

Indexing works analogously to indexing in NumPy arrays, except we can use the labels in the `Index` object to extract values in addition to arrays of integers.

In [33]:
# Sample Series object
hits = baseball_newind.h
hits

womacto01CHN2006     14
schilcu01BOS2006      1
myersmi01NYA2006      0
helliri01MIL2006      0
johnsra05NYA2006      1
finlest01SFN2006    105
gonzalu01ARI2006    159
seleaa01LAN2006       5
francju01ATL2007     10
francju01NYN2007     10
zaungr01TOR2007      80
witasja01TBA2007      0
williwo02HOU2007      6
wickmbo01ARI2007      0
wickmbo01ATL2007      0
whitero02MIN2007     19
whiteri01HOU2007      0
wellsda01LAN2007      4
wellsda01SDN2007      4
weathda01CIN2007      0
walketo04OAK2007     13
wakefti01BOS2007      0
vizquom01SFN2007    126
villoro01NYA2007      0
valenjo03NYN2007     40
trachst01CHN2007      1
trachst01BAL2007      0
timlimi01BOS2007      0
thomeji01CHA2007    119
thomafr04TOR2007    147
                   ...
guarded01CIN2007      0
griffke02CIN2007    146
greensh01NYN2007    130
graffto01MIL2007     55
gordoto01PHI2007      0
gonzalu01LAN2007    129
gomezch02CLE2007     15
gomezch02BAL2007     51
glavito02NYN2007     12
floydcl01CHN2007     80
finlest01COL2007     17
embreal01OAK2007      0
edmonji01SLN2007     92
easleda01NYN2007     54
delgaca01NYN2007    139
cormirh01CIN2007      0
coninje01NYN2007      8
coninje01CIN2007     57
clemero02NYA2007      1
claytro01BOS2007      0
claytro01TOR2007     48
cirilje01ARI2007      8
cirilje01MIN2007     40
bondsba01SFN2007     94
biggicr01HOU2007    130
benitar01FLO2007      0
benitar01SFN2007      0
ausmubr01HOU2007     82
aloumo01NYN2007     112
alomasa02NYN2007      3
Name: h, Length: 100, dtype: int64

In [34]:
# index the series 
hits[:3]

womacto01CHN2006    14
schilcu01BOS2006     1
myersmi01NYA2006     0
Name: h, dtype: int64

In [35]:
# index the series by label
hits[['womacto01CHN2006','schilcu01BOS2006']]

womacto01CHN2006    14
schilcu01BOS2006     1
Name: h, dtype: int64

<div class="alert alert-success">can also slice with data labels, since they have an intrinsic order within the Index:</div>

In [36]:
hits['womacto01CHN2006':'gonzalu01ARI2006']

womacto01CHN2006     14
schilcu01BOS2006      1
myersmi01NYA2006      0
helliri01MIL2006      0
johnsra05NYA2006      1
finlest01SFN2006    105
gonzalu01ARI2006    159
Name: h, dtype: int64

In [37]:
hits['womacto01CHN2006':'gonzalu01ARI2006'] = 5
hits

C:\Users\emyhr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

womacto01CHN2006      5
schilcu01BOS2006      5
myersmi01NYA2006      5
helliri01MIL2006      5
johnsra05NYA2006      5
finlest01SFN2006      5
gonzalu01ARI2006      5
seleaa01LAN2006       5
francju01ATL2007     10
francju01NYN2007     10
zaungr01TOR2007      80
witasja01TBA2007      0
williwo02HOU2007      6
wickmbo01ARI2007      0
wickmbo01ATL2007      0
whitero02MIN2007     19
whiteri01HOU2007      0
wellsda01LAN2007      4
wellsda01SDN2007      4
weathda01CIN2007      0
walketo04OAK2007     13
wakefti01BOS2007      0
vizquom01SFN2007    126
villoro01NYA2007      0
valenjo03NYN2007     40
trachst01CHN2007      1
trachst01BAL2007      0
timlimi01BOS2007      0
thomeji01CHA2007    119
thomafr04TOR2007    147
                   ...
guarded01CIN2007      0
griffke02CIN2007    146
greensh01NYN2007    130
graffto01MIL2007     55
gordoto01PHI2007      0
gonzalu01LAN2007    129
gomezch02CLE2007     15
gomezch02BAL2007     51
glavito02NYN2007     12
floydcl01CHN2007     80
finlest01COL2007     17
embreal01OAK2007      0
edmonji01SLN2007     92
easleda01NYN2007     54
delgaca01NYN2007    139
cormirh01CIN2007      0
coninje01NYN2007      8
coninje01CIN2007     57
clemero02NYA2007      1
claytro01BOS2007      0
claytro01TOR2007     48
cirilje01ARI2007      8
cirilje01MIN2007     40
bondsba01SFN2007     94
biggicr01HOU2007    130
benitar01FLO2007      0
benitar01SFN2007      0
ausmubr01HOU2007     82
aloumo01NYN2007     112
alomasa02NYN2007      3
Name: h, Length: 100, dtype: int64

<div class="alert alert-success">we can slice along either or both axes:</div>

In [38]:
baseball_newind[['h','ab']]

                    h   ab
womacto01CHN2006    5   50
schilcu01BOS2006    5    2
myersmi01NYA2006    5    0
helliri01MIL2006    5    3
johnsra05NYA2006    5    6
finlest01SFN2006    5  426
gonzalu01ARI2006    5  586
seleaa01LAN2006     5   26
francju01ATL2007   10   40
francju01NYN2007   10   50
zaungr01TOR2007    80  331
witasja01TBA2007    0    0
williwo02HOU2007    6   59
wickmbo01ARI2007    0    0
wickmbo01ATL2007    0    0
whitero02MIN2007   19  109
whiteri01HOU2007    0    1
wellsda01LAN2007    4   15
wellsda01SDN2007    4   38
weathda01CIN2007    0    0
walketo04OAK2007   13   48
wakefti01BOS2007    0    2
vizquom01SFN2007  126  513
villoro01NYA2007    0    0
valenjo03NYN2007   40  166
trachst01CHN2007    1    7
trachst01BAL2007    0    5
timlimi01BOS2007    0    0
thomeji01CHA2007  119  432
thomafr04TOR2007  147  531
...               ...  ...
guarded01CIN2007    0    0
griffke02CIN2007  146  528
greensh01NYN2007  130  446
graffto01MIL2007   55  231
gordoto01PHI2007    0    0
gonzalu01LAN2007  129  464
gomezch02CLE2007   15   53
gomezch02BAL2007   51  169
glavito02NYN2007   12   56
floydcl01CHN2007   80  282
finlest01COL2007   17   94
embreal01OAK2007    0    0
edmonji01SLN2007   92  365
easleda01NYN2007   54  193
delgaca01NYN2007  139  538
cormirh01CIN2007    0    0
coninje01NYN2007    8   41
coninje01CIN2007   57  215
clemero02NYA2007    1    2
claytro01BOS2007    0    6
claytro01TOR2007   48  189
cirilje01ARI2007    8   40
cirilje01MIN2007   40  153
bondsba01SFN2007   94  340
biggicr01HOU2007  130  517
benitar01FLO2007    0    0
benitar01SFN2007    0    0
ausmubr01HOU2007   82  349
aloumo01NYN2007   112  328
alomasa02NYN2007    3   22

[100 rows x 2 columns]

In [39]:
baseball_newind[baseball_newind.ab>500]

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
gonzalu01ARI2006,gonzalu01,2006,1,ARI,NL,153,586,93,5,52,...,73.0,0.0,1.0,69,58.0,10.0,7.0,0.0,6.0,14.0
vizquom01SFN2007,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51.0,14.0,6.0,44,48.0,6.0,1.0,14.0,3.0,14.0
thomafr04TOR2007,thomafr04,2007,1,TOR,AL,155,531,63,147,30,...,95.0,0.0,0.0,81,94.0,3.0,7.0,0.0,5.0,14.0
rodriiv01DET2007,rodriiv01,2007,1,DET,AL,129,502,50,141,31,...,63.0,2.0,2.0,9,96.0,1.0,1.0,1.0,2.0,16.0
griffke02CIN2007,griffke02,2007,1,CIN,NL,144,528,78,146,24,...,93.0,6.0,1.0,85,99.0,14.0,1.0,0.0,9.0,14.0
delgaca01NYN2007,delgaca01,2007,1,NYN,NL,139,538,71,139,30,...,87.0,4.0,0.0,52,118.0,8.0,11.0,0.0,6.0,12.0
biggicr01HOU2007,biggicr01,2007,1,HOU,NL,141,517,68,130,31,...,50.0,4.0,3.0,23,112.0,0.0,3.0,7.0,5.0,5.0

<div class="alert alert-success">The indexing field `ix` allows us to select subsets of rows and columns in an intuitive way:</div>

In [40]:
baseball_newind.ix['gonzalu01ARI2006', ['h','X2b', 'X3b', 'hr']]

C:\Users\emyhr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

h       5
X2b    52
X3b     2
hr     15
Name: gonzalu01ARI2006, dtype: object

In [41]:
baseball_newind.ix[['gonzalu01ARI2006','finlest01SFN2006'], 5:8]

C:\Users\emyhr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

                    g   ab   r
gonzalu01ARI2006  153  586  93
finlest01SFN2006  139  426  66

In [ ]:
# note that g is the 5th

In [42]:
baseball_newind.ix[:'myersmi01NYA2006', 'hr']

C:\Users\emyhr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

womacto01CHN2006    1
schilcu01BOS2006    0
myersmi01NYA2006    0
Name: hr, dtype: int64

Similarly, the cross-section method `xs` (not a field) extracts a single column or row *by label* and returns it as a `Series`:

In [43]:
baseball_newind.xs('myersmi01NYA2006')

player    myersmi01
year           2006
stint             1
team            NYA
lg               AL
g                62
ab                0
r                 0
h                 5
X2b               0
X3b               0
hr                0
rbi               0
sb                0
cs                0
bb                0
so                0
ibb               0
hbp               0
sh                0
sf                0
gidp              0
Name: myersmi01NYA2006, dtype: object

## Sorting and Ranking

Pandas objects include methods for re-ordering data.

In [44]:
baseball_newind.sort_index().head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
alomasa02NYN2007,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
aloumo01NYN2007,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
ausmubr01HOU2007,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
benitar01FLO2007,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
benitar01SFN2007,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
baseball_newind.sort_index(ascending=False).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
zaungr01TOR2007,zaungr01,2007,1,TOR,AL,110,331,43,80,24,...,52.0,0.0,0.0,51,55.0,8.0,2.0,1.0,6.0,9.0
womacto01CHN2006,womacto01,2006,2,CHN,NL,19,50,6,5,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
witasja01TBA2007,witasja01,2007,1,TBA,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
williwo02HOU2007,williwo02,2007,1,HOU,NL,33,59,3,6,0,...,2.0,0.0,0.0,0,25.0,0.0,0.0,5.0,0.0,1.0
wickmbo01ATL2007,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
baseball_newind.sort_index(axis=1).head()

,X2b,X3b,ab,bb,cs,g,gidp,h,hbp,hr,...,player,r,rbi,sb,sf,sh,so,stint,team,year
womacto01CHN2006,1,0,50,4,1.0,19,0.0,5,0.0,1,...,womacto01,6,2.0,1.0,0.0,3.0,4.0,2,CHN,2006
schilcu01BOS2006,0,0,2,0,0.0,31,0.0,5,0.0,0,...,schilcu01,0,0.0,0.0,0.0,0.0,1.0,1,BOS,2006
myersmi01NYA2006,0,0,0,0,0.0,62,0.0,5,0.0,0,...,myersmi01,0,0.0,0.0,0.0,0.0,0.0,1,NYA,2006
helliri01MIL2006,0,0,3,0,0.0,20,0.0,5,0.0,0,...,helliri01,0,0.0,0.0,0.0,0.0,2.0,1,MIL,2006
johnsra05NYA2006,0,0,6,0,0.0,33,0.0,5,0.0,0,...,johnsra05,0,0.0,0.0,0.0,0.0,4.0,1,NYA,2006

<div class="alert alert-success">For a `DataFrame`, we can sort according to the values of one or more columns using the `by` argument of `sort_index`:</div>

In [48]:
baseball[['player','sb','cs']].sort_index(ascending=[False,True], by=['sb', 'cs']).head(10)

C:\Users\emyhr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

          player    sb   cs
id
89378  sheffga01  22.0  5.0
89430  loftoke01  21.0  4.0
89347  vizquom01  14.0  6.0
89463  greensh01  11.0  1.0
88652  finlest01   7.0  0.0
89462  griffke02   6.0  1.0
89530  ausmubr01   6.0  1.0
89466  gonzalu01   6.0  2.0
89521  bondsba01   5.0  0.0
89438  kleskry01   5.0  1.0

<div class="alert alert-danger">Ranking does not re-arrange data, but instead returns an index that ranks each value relative to others in the Series.</div>

In [49]:
baseball.hr.rank()

id
88641     62.5
88643     29.0
88645     29.0
88649     29.0
88650     29.0
88652     76.0
88653     89.5
88662     29.0
89177     29.0
89178     62.5
89330     83.5
89333     29.0
89334     62.5
89335     29.0
89336     29.0
89337     73.5
89338     29.0
89339     29.0
89340     29.0
89341     29.0
89343     29.0
89345     29.0
89347     73.5
89348     29.0
89352     71.5
89354     29.0
89355     29.0
89359     29.0
89360    100.0
89361     97.0
         ...
89460     29.0
89462     99.0
89463     83.5
89464     80.5
89465     29.0
89466     89.5
89467     29.0
89468     62.5
89469     29.0
89473     80.5
89474     62.5
89480     29.0
89481     87.0
89482     83.5
89489     95.0
89493     29.0
89494     29.0
89495     76.0
89497     29.0
89498     29.0
89499     62.5
89501     29.0
89502     69.0
89521     98.0
89523     83.5
89525     29.0
89526     29.0
89530     71.5
89533     88.0
89534     29.0
Name: hr, Length: 100, dtype: float64

<div class="alert alert-success">Ties are assigned the mean value of the tied ranks, which may result in decimal values.:</div>

In [50]:
pd.Series([100,100]).rank()

0    1.5
1    1.5
dtype: float64

<div class="alert alert-success">Alternatively, you can break ties via one of several methods, such as by the order in which they occur in the dataset:</div>

In [51]:
baseball.hr.rank(method='first')

id
88641     58.0
88643      1.0
88645      2.0
88649      3.0
88650      4.0
88652     75.0
88653     89.0
88662      5.0
89177      6.0
89178     59.0
89330     82.0
89333      7.0
89334     60.0
89335      8.0
89336      9.0
89337     73.0
89338     10.0
89339     11.0
89340     12.0
89341     13.0
89343     14.0
89345     15.0
89347     74.0
89348     16.0
89352     71.0
89354     17.0
89355     18.0
89359     19.0
89360    100.0
89361     97.0
         ...
89460     45.0
89462     99.0
89463     83.0
89464     80.0
89465     46.0
89466     90.0
89467     47.0
89468     65.0
89469     48.0
89473     81.0
89474     66.0
89480     49.0
89481     87.0
89482     84.0
89489     95.0
89493     50.0
89494     51.0
89495     77.0
89497     52.0
89498     53.0
89499     67.0
89501     54.0
89502     70.0
89521     98.0
89523     85.0
89525     55.0
89526     56.0
89530     72.0
89533     88.0
89534     57.0
Name: hr, Length: 100, dtype: float64

<div class="alert alert-success">Calling the DataFrame's rank method results in the ranks of all columns:</div>

In [52]:
baseball.rank(ascending=False).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,2.0,96.5,7.0,82.0,31.5,70.0,47.5,40.5,39.0,50.5,...,51.0,24.5,17.5,44.5,59.0,66.0,65.5,16.0,70.0,76.5
88643,37.5,96.5,57.0,88.0,81.5,55.5,73.0,81.0,63.5,78.0,...,78.5,63.5,62.5,79.0,73.0,66.0,65.5,67.5,70.0,76.5
88645,47.5,96.5,57.0,40.5,81.5,36.0,91.0,81.0,84.5,78.0,...,78.5,63.5,62.5,79.0,89.0,66.0,65.5,67.5,70.0,76.5
88649,66.0,96.5,57.0,47.0,31.5,67.5,69.0,81.0,84.5,78.0,...,78.5,63.5,62.5,79.0,67.0,66.0,65.5,67.5,70.0,76.5
88650,61.5,96.5,57.0,40.5,81.5,51.0,64.5,81.0,63.5,78.0,...,78.5,63.5,62.5,79.0,59.0,66.0,65.5,67.5,70.0,76.5

In [53]:
baseball[['r','h','hr']].rank(ascending=False).head()

          r     h    hr
id
88641  40.5  39.0  38.5
88643  81.0  63.5  72.0
88645  81.0  84.5  72.0
88649  81.0  84.5  72.0
88650  81.0  63.5  72.0

## Hierarchical indexing

In the baseball example, I was forced to combine 3 fields to obtain a unique index that was not simply an integer value. A more elegant way to have done this would be to create a hierarchical index from the three fields.

In [55]:
baseball_h = baseball.set_index(['year', 'team', 'player'])
baseball_h.head(10)

                     stint  lg    g   ab   r    h  X2b  X3b  hr   rbi   sb  \
year team player
2006 CHN  womacto01      2  NL   19   50   6   14    1    0   1   2.0  1.0
     BOS  schilcu01      1  AL   31    2   0    1    0    0   0   0.0  0.0
     NYA  myersmi01      1  AL   62    0   0    0    0    0   0   0.0  0.0
     MIL  helliri01      1  NL   20    3   0    0    0    0   0   0.0  0.0
     NYA  johnsra05      1  AL   33    6   0    1    0    0   0   0.0  0.0
     SFN  finlest01      1  NL  139  426  66  105   21   12   6  40.0  7.0
     ARI  gonzalu01      1  NL  153  586  93  159   52    2  15  73.0  0.0
     LAN  seleaa01       1  NL   28   26   2    5    1    0   0   0.0  0.0
2007 ATL  francju01      2  NL   15   40   1   10    3    0   0   8.0  0.0
     NYN  francju01      1  NL   40   50   7   10    0    0   1   8.0  2.0

                      cs  bb    so   ibb  hbp   sh   sf  gidp
year team player
2006 CHN  womacto01  1.0   4   4.0   0.0  0.0  3.0  0.0   0.0
     BOS  schilcu01  0.0   0   1.0   0.0  0.0  0.0  0.0   0.0
     NYA  myersmi01  0.0   0   0.0   0.0  0.0  0.0  0.0   0.0
     MIL  helliri01  0.0   0   2.0   0.0  0.0  0.0  0.0   0.0
     NYA  johnsra05  0.0   0   4.0   0.0  0.0  0.0  0.0   0.0
     SFN  finlest01  0.0  46  55.0   2.0  2.0  3.0  4.0   6.0
     ARI  gonzalu01  1.0  69  58.0  10.0  7.0  0.0  6.0  14.0
     LAN  seleaa01   0.0   1   7.0   0.0  0.0  6.0  0.0   1.0
2007 ATL  francju01  0.0   4  10.0   1.0  0.0  0.0  1.0   1.0
     NYN  francju01  1.0  10  13.0   0.0  0.0  0.0  1.0   1.0

<div class="alert alert-success">This index is a MultiIndex object that consists of a sequence of tuples, the elements of which is some combination of the three columns used to create the index. Where there are multiple repeated values, Pandas does not print the repeats, making it easy to identify groups of values.</div>

In [56]:
baseball_h.index[:10]

MultiIndex(levels=[[2006, 2007], ['ARI', 'ATL', 'BAL', 'BOS', 'CHA', 'CHN', 'CIN', 'CLE', 'COL', 'DET', 'FLO', 'HOU', 'KCA', 'LAA', 'LAN', 'MIL', 'MIN', 'NYA', 'NYN', 'OAK', 'PHI', 'SDN', 'SFN', 'SLN', 'TBA', 'TEX', 'TOR'], ['alomasa02', 'aloumo01', 'ausmubr01', 'benitar01', 'biggicr01', 'bondsba01', 'cirilje01', 'claytro01', 'clemero02', 'coninje01', 'cormirh01', 'delgaca01', 'easleda01', 'edmonji01', 'embreal01', 'finlest01', 'floydcl01', 'francju01', 'glavito02', 'gomezch02', 'gonzalu01', 'gordoto01', 'graffto01', 'greensh01', 'griffke02', 'guarded01', 'helliri01', 'hernaro01', 'hoffmtr01', 'johnsra05', 'jonesto02', 'kentje01', 'kleskry01', 'loaizes01', 'loftoke01', 'mabryjo01', 'maddugr01', 'martipe02', 'mesajo01', 'moyerja01', 'mussimi01', 'myersmi01', 'oliveda02', 'parkch01', 'perezne01', 'piazzmi01', 'ramirma02', 'rodriiv01', 'rogerke01', 'sandere02', 'schilcu01', 'schmija01', 'seaneru01', 'seleaa01', 'sheffga01', 'smoltjo01', 'sosasa01', 'sprinru01', 'stairma01', 'stantmi02', 'stinnke01', 'suppaje01', 'sweenma01', 'tavarju01', 'thomafr04', 'thomeji01', 'timlimi01', 'trachst01', 'valenjo03', 'villoro01', 'vizquom01', 'wakefti01', 'walketo04', 'weathda01', 'wellsda01', 'whiteri01', 'whitero02', 'wickmbo01', 'williwo02', 'witasja01', 'womacto01', 'zaungr01']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 1, 1], [5, 3, 17, 15, 17, 22, 0, 14, 1, 18], [80, 50, 41, 26, 29, 15, 20, 53, 17, 17]],
           names=['year', 'team', 'player'])

In [57]:
baseball_h.index.is_unique

True

In [58]:
baseball_h.ix[(2007, 'ATL', 'francju01')]

C:\Users\emyhr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

stint     2
lg       NL
g        15
ab       40
r         1
h        10
X2b       3
X3b       0
hr        0
rbi       8
sb        0
cs        0
bb        4
so       10
ibb       1
hbp       0
sh        0
sf        1
gidp      1
Name: (2007, ATL, francju01), dtype: object

<div class="alert alert-success">Recall earlier we imported some microbiome data using two index columns. This created a 2-level hierarchical index:</div>

In [59]:
df = pd.read_csv("data/microbiome.csv", index_col=['Taxon','Patient'])

In [60]:
df.head(10)

                    Tissue  Stool
Taxon      Patient
Firmicutes 1           632    305
           2           136   4182
           3          1174    703
           4           408   3946
           5           831   8605
           6           693     50
           7           718    717
           8           173     33
           9           228     80
           10          162   3196

In [61]:
df.index

MultiIndex(levels=[['Actinobacteria', 'Bacteroidetes', 'Firmicutes', 'Other', 'Proteobacteria'], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]],
           labels=[[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]],
           names=['Taxon', 'Patient'])

<div class="alert alert-danger">With a hierachical index, we can select subsets of the data based on a partial index:</div>

In [63]:
df.ix['Proteobacteria']

C:\Users\emyhr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

         Tissue  Stool
Patient
1          1638   3886
2          2469   1821
3           839    661
4          4414     18
5         12044     83
6          2310     12
7          3053    547
8           395   2174
9          2651    767
10         1195     76
11         6857    795
12          483    666
13         2950   3994
14         1541    816
15         1307     53

<div class="alert alert-success">Hierarchical indices can be created on either or both axes. Here is a dumb example:</div>

In [64]:
frame = pd.DataFrame(np.arange(12).reshape(( 4, 3)), 
                  index =[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                  columns =[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])

frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

<div class="alert alert-success">If you want to get fancy, and you do, both the row and column indices themselves can be given names:</div>

In [65]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

<div class="alert alert-success">With this, we can do all sorts of custom indexing:</div>

In [66]:
frame.ix['a']['Ohio']

C:\Users\emyhr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

color  Green  Red
key2
1          0    1
2          3    4

In [67]:
frame.ix['b', 2]['Colorado']

C:\Users\emyhr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

color
Green    11
Name: (b, 2), dtype: int32

<div class="alert alert-success">Additionally, the order of the set of indices in a hierarchical MultiIndex can be changed by swapping them pairwise:</div>

In [69]:
df.swaplevel('Patient', 'Taxon').head()

                    Tissue  Stool
Patient Taxon
1       Firmicutes     632    305
2       Firmicutes     136   4182
3       Firmicutes    1174    703
4       Firmicutes     408   3946
5       Firmicutes     831   8605

<div class="alert alert-success">Data can also be sorted by any index level, using sortlevel:</div>

In [70]:
df.sortlevel('Patient', ascending=False).head()

C:\Users\emyhr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

                        Tissue  Stool
Taxon          Patient
Proteobacteria 15         1307     53
Other          15          305     32
Firmicutes     15          281   2377
Bacteroidetes  15          102     33
Actinobacteria 15          310    204

## Missing data

The occurence of missing data is so prevalent that it pays to use tools like Pandas, which seamlessly integrates missing data handling so that it can be dealt with easily, and in the manner required by the analysis at hand.

Missing data are represented in `Series` and `DataFrame` objects by the `NaN` floating point value. However, `None` is also treated as missing, since it is commonly used as such in other contexts (*e.g.* NumPy).

In [71]:
foo = pd.Series([np.nan, -3, None, 'foobar'])
foo

0       NaN
1        -3
2      None
3    foobar
dtype: object

In [72]:
foo.isnull()

0     True
1    False
2     True
3    False
dtype: bool

<div class="alert alert-success">Missing values may be dropped or indexed out:</div>

In [77]:
data.dropna()

NameError: name 'data' is not defined

In [ ]:
bacteria2[bacteria2.notnull()]

<div class="alert alert-success">By default, dropna drops entire rows in which one or more values are missing.</div>

<div class="alert alert-success">this can be overridden by passing the how='all' argument, which only drops a row when every field is a missing value.:</div>

In [ ]:
data.dropna(how='all')

<div class="alert alert-success">This can be customized further by specifying how many values need to be present before a row is dropped via the thresh argument.</div>

In [ ]:
data.ix[7, 'year'] = np.nan
data

In [ ]:
data.dropna(thresh=4)

<div class="alert alert-danger">This is typically used in time series applications, where there are repeated measurements that are incomplete for some subjects.</div>

<div class="alert alert-success">If we want to drop missing values column-wise instead of row-wise, we use axis=1.</div>

In [ ]:
data.dropna(axis=1)

<div class="alert alert-success">Rather than omitting missing data from an analysis, in some cases it may be suitable to fill the missing value in, either with a default value (such as zero) or a value that is either imputed or carried forward/backward from similar data points. We can do this programmatically in Pandas with the fillna argument.</div>

In [ ]:
bacteria2.fillna(0)

In [ ]:
data.fillna({'year': 2013, 'treatment':2})

Notice that fillna by default returns a new object with the desired filling behavior, rather than changing the Series or  DataFrame in place (in general, we like to do this, by the way!).

<div class="alert alert-success">We can alter values in-place using inplace=True.</div>

In [ ]:
_ = data.year.fillna(2013, inplace=True)
data

<div class="alert alert-success">Missing values can also be interpolated, using any one of a variety of methods:</div>

In [ ]:
bacteria2.fillna(method='bfill')

In [ ]:
bacteria2.fillna(bacteria2.mean())

## Data summarization

We often wish to summarize data in `Series` or `DataFrame` objects, so that they can more easily be understood or compared with similar data. The NumPy package contains several functions that are useful here, but several summarization or reduction methods are built into Pandas data structures.

In [ ]:
baseball.sum()

<div class="alert alert-success">Clearly, sum is more meaningful for some columns than others. For methods like mean for which application to string variables is not just meaningless, but impossible, these columns are automatically exculded:</div>

In [ ]:
baseball.mean()

<div class="alert alert-success">.describe() for basic summary stats</div>

In [ ]:
baseball.describe()

#describe can detect non-numeric data and sometimes yield useful information about it.

### cor and cov

We can also calculate summary statistics *across* multiple columns, for example, correlation and covariance.

$$cov(x,y) = \sum_i (x_i - \bar{x})(y_i - \bar{y})$$

In [78]:
baseball.hr.cov(baseball.X2b)

69.07646464646464

$$corr(x,y) = \frac{cov(x,y)}{(n-1)s_x s_y} = \frac{\sum_i (x_i - \bar{x})(y_i - \bar{y})}{\sqrt{\sum_i (x_i - \bar{x})^2 \sum_i (y_i - \bar{y})^2}}$$

In [80]:
baseball.hr.corr(baseball.X2b)

0.7790615182539753

In [81]:
baseball.ab.corr(baseball.h)

0.9942174036272381

In [82]:
baseball.corr()

,year,stint,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
year,1.000000,0.004384,-0.050874,-0.001360,-0.023315,0.001151,-0.052917,-0.246099,0.060199,0.042812,0.030480,0.058296,0.005626,0.069610,0.015868,-0.000664,-0.012184,-0.007282,0.052131
stint,0.004384,1.000000,-0.257552,-0.216333,-0.209781,-0.206878,-0.196423,-0.085821,-0.209124,-0.205688,-0.120837,-0.055425,-0.190301,-0.214121,-0.118580,-0.195074,-0.091527,-0.155662,-0.224173
g,-0.050874,-0.257552,1.000000,0.935910,0.910262,0.929292,0.885847,0.518663,0.802014,0.891563,0.492362,0.520923,0.828572,0.866499,0.514423,0.730161,0.079361,0.767543,0.863041
ab,-0.001360,-0.216333,0.935910,1.000000,0.965609,0.994217,0.952249,0.535986,0.843308,0.947911,0.533536,0.577192,0.850803,0.923926,0.506398,0.767210,0.094537,0.840361,0.926632
r,-0.023315,-0.209781,0.910262,0.965609,1.000000,0.970560,0.923508,0.500807,0.890060,0.941483,0.596343,0.576454,0.915010,0.879375,0.588882,0.806523,-0.001273,0.839592,0.894724
h,0.001151,-0.206878,0.929292,0.994217,0.970560,1.000000,0.957275,0.514245,0.855163,0.952320,0.530018,0.571629,0.853384,0.906966,0.513009,0.767449,0.045533,0.839737,0.935525
X2b,-0.052917,-0.196423,0.885847,0.952249,0.923508,0.957275,1.000000,0.493267,0.779062,0.901751,0.413655,0.477487,0.780012,0.862149,0.453301,0.738226,0.005659,0.819361,0.906860
X3b,-0.246099,-0.085821,0.518663,0.535986,0.500807,0.514245,0.493267,1.000000,0.210028,0.369890,0.450421,0.384312,0.350682,0.408800,0.090993,0.217474,0.187012,0.394987,0.411577
hr,0.060199,-0.209124,0.802014,0.843308,0.890060,0.855163,0.779062,0.210028,1.000000,0.948787,0.364346,0.345187,0.916774,0.865929,0.673691,0.767411,-0.145374,0.782038,0.798350
rbi,0.042812,-0.205688,0.891563,0.947911,0.941483,0.952320,0.901751,0.369890,0.948787,1.000000,0.394633,0.435011,0.893945,0.929410,0.582982,0.780899,-0.054670,0.855260,0.906908
sb,0.030480,-0.120837,0.492362,0.533536,0.596343,0.530018,0.413655,0.450421,0.364346,0.394633,1.000000,0.743921,0.491351,0.365841,0.209110,0.413570,0.171910,0.412947,0.431198
cs,0.058296,-0.055425,0.520923,0.577192,0.576454,0.571629,0.477487,0.384312,0.345187,0.435011,0.743921,1.000000,0.425352,0.426658,0.106152,0.337129,0.293397,0.422146,0.456820
bb,0.005626,-0.190301,0.828572,0.850803,0.915010,0.853384,0.780012,0.350682,0.916774,0.893945,0.491351,0.425352,1.000000,0.795751,0.792057,0.742118,-0.044992,0.760932,0.823631
so,0.069610,-0.214121,0.866499,0.923926,0.879375,0.906966,0.862149,0.408800,0.865929,0.929410,0.365841,0.426658,0.795751,1.000000,0.476613,0.742547,0.073624,0.782314,0.846629
ibb,0.015868,-0.118580,0.514423,0.506398,0.588882,0.513009,0.453301,0.090993,0.673691,0.582982,0.209110,0.106152,0.792057,0.476613,1.000000,0.431714,-0.075658,0.451377,0.572355
hbp,-0.000664,-0.195074,0.730161,0.767210,0.806523,0.767449,0.738226,0.217474,0.767411,0.780899,0.413570,0.337129,0.742118,0.742547,0.431714,1.000000,-0.104810,0.648882,0.700380
sh,-0.012184,-0.091527,0.079361,0.094537,-0.001273,0.045533,0.005659,0.187012,-0.145374,-0.054670,0.171910,0.293397,-0.044992,0.073624,-0.075658,-0.104810,1.000000,-0.002721,0.028924
sf,-0.007282,-0.155662,0.767543,0.840361,0.839592,0.839737,0.819361,0.394987,0.782038,0.855260,0.412947,0.422146,0.760932,0.782314,0.451377,0.648882,-0.002721,1.000000,0.785489
gidp,0.052131,-0.224173,0.863041,0.926632,0.894724,0.935525,0.906860,0.411577,0.798350,0.906908,0.431198,0.456820,0.823631,0.846629,0.572355,0.700380,0.028924,0.785489,1.000000

<div class="alert alert-success">If we have a DataFrame with a hierarchical index (or indices), summary statistics can be applied with respect to any of the index levels:</div>

In [83]:
df.head()

                    Tissue  Stool
Taxon      Patient
Firmicutes 1           632    305
           2           136   4182
           3          1174    703
           4           408   3946
           5           831   8605

In [84]:
df.sum(level='Taxon')

                Tissue  Stool
Taxon
Firmicutes       10266  30477
Proteobacteria   44146  16369
Actinobacteria    6736   2263
Bacteroidetes     8995   4656
Other             2982    519

## Writing Data to Files

As well as being able to read several data input formats, Pandas can also export data to a variety of storage formats. We will bring your attention to just a couple of these.

An efficient way of storing data to disk is in binary format. Pandas supports this using Python’s built-in pickle serialization.

In [85]:
baseball.to_pickle("baseball_pickle")

The complement to to_pickle is the read_pickle function, which restores the pickle to a DataFrame or Series:

<div class="alert alert-danger">it is recommended that binary storage of data via pickle only be used as a temporary storage format, in situations where speed is relevant. This is because there is no guarantee that the pickle format will not change with future versions of Python.</div>

In [86]:
pd.read_pickle("baseball_pickle")

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,...,40.0,7.0,0.0,46,55.0,2.0,2.0,3.0,4.0,6.0
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,...,73.0,0.0,1.0,69,58.0,10.0,7.0,0.0,6.0,14.0
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,...,0.0,0.0,0.0,1,7.0,0.0,0.0,6.0,0.0,1.0
89177,francju01,2007,2,ATL,NL,15,40,1,10,3,...,8.0,0.0,0.0,4,10.0,1.0,0.0,0.0,1.0,1.0
89178,francju01,2007,1,NYN,NL,40,50,7,10,0,...,8.0,2.0,1.0,10,13.0,0.0,0.0,0.0,1.0,1.0
89330,zaungr01,2007,1,TOR,AL,110,331,43,80,24,...,52.0,0.0,0.0,51,55.0,8.0,2.0,1.0,6.0,9.0
89333,witasja01,2007,1,TBA,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89334,williwo02,2007,1,HOU,NL,33,59,3,6,0,...,2.0,0.0,0.0,0,25.0,0.0,0.0,5.0,0.0,1.0
89335,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89336,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89337,whitero02,2007,1,MIN,AL,38,109,8,19,4,...,20.0,0.0,0.0,6,19.0,0.0,3.0,0.0,1.0,2.0
89338,whiteri01,2007,1,HOU,NL,20,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
89339,wellsda01,2007,2,LAN,NL,7,15,2,4,1,...,1.0,0.0,0.0,0,6.0,0.0,0.0,0.0,0.0,0.0
89340,wellsda01,2007,1,SDN,NL,22,38,1,4,0,...,0.0,0.0,0.0,0,12.0,0.0,0.0,4.0,0.0,0.0
89341,weathda01,2007,1,CIN,NL,67,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89343,walketo04,2007,1,OAK,AL,18,48,5,13,1,...,4.0,0.0,0.0,2,4.0,0.0,0.0,0.0,2.0,2.0
89345,wakefti01,2007,1,BOS,AL,1,2,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
89347,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51.0,14.0,6.0,44,48.0,6.0,1.0,14.0,3.0,14.0
89348,villoro01,2007,1,NYA,AL,6,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89352,valenjo03,2007,1,NYN,NL,51,166,18,40,11,...,18.0,2.0,1.0,15,28.0,4.0,0.0,1.0,1.0,5.0
89354,trachst01,2007,2,CHN,NL,4,7,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
89355,trachst01,2007,1,BAL,AL,3,5,0,0,0,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
89359,timlimi01,2007,1,BOS,AL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89360,thomeji01,2007,1,CHA,AL,130,432,79,119,19,...,96.0,0.0,1.0,95,134.0,11.0,6.0,0.0,3.0,10.0
89361,thomafr04,2007,1,TOR,AL,155,531,63,147,30,...,95.0,0.0,0.0,81,94.0,3.0,7.0,0.0,5.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89460,guarded01,2007,1,CIN,NL,15,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89462,griffke02,2007,1,CIN,NL,144,528,78,146,24,...,93.0,6.0,1.0,85,99.0,14.0,1.0,0.0,9.0,14.0
89463,greensh01,2007,1,NYN,NL,130,446,62,130,30,...,46.0,11.0,1.0,37,62.0,4.0,5.0,1.0,1.0,14.0
89464,graffto01,2007,1,MIL,NL,86,231,34,55,8,...,30.0,0.0,1.0,24,44.0,6.0,3.0,0.0,2.0,7.0
89465,gordoto01,2007,1,PHI,NL,44,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,...,68.0,6.0,2.0,56,56.0,4.0,4.0,0.0,2.0,11.0
89467,gomezch02,2007,2,CLE,AL,19,53,4,15,2,...,5.0,0.0,0.0,0,6.0,0.0,0.0,1.0,1.0,1.0
89468,gomezch02,2007,1,BAL,AL,73,169,17,51,10,...,16.0,1.0,2.0,10,20.0,1.0,0.0,5.0,1.0,5.0
89469,glavito02,2007,1,NYN,NL,33,56,3,12,1,...,4.0,0.0,0.0,6,5.0,0.0,0.0,12.0,1.0,0.0
89473,floydcl01,2007,1,CHN,NL,108,282,40,80,10,...,45.0,0.0,0.0,35,47.0,5.0,5.0,0.0,0.0,6.0
89474,finlest01,2007,1,COL,NL,43,94,9,17,3,...,2.0,0.0,0.0,8,4.0,1.0,0.0,0.0,0.0,2.0
89480,embreal01,2007,1,OAK,AL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89481,edmonji01,2007,1,SLN,NL,117,365,39,92,15,...,53.0,0.0,2.0,41,75.0,2.0,0.0,2.0,3.0,9.0
89482,easleda01,2007,1,NYN,NL,76,193,24,54,6,...,26.0,0.0,1.0,19,35.0,1.0,5.0,0.0,1.0,2.0
89489,delgaca01,2007,1,NYN,NL,139,538,71,139,30,...,87.0,4.0,0.0,52,118.0,8.0,11.0,0.0,6.0,12.0
89493,cormirh01,2007,1,CIN,NL,6,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89494,coninje01,2007,2,NYN,NL,21,41,2,8,2,...,5.0,0.0,0.0,7,8.0,2.0,0.0,1.0,1.0,1.0
89495,coninje01,2007,1,CIN,NL,80,215,23,57,11,...,32.0,4.0,0.0,20,28.0,0.0,0.0,1.0,6.0,4.0
89497,clemero02,2007,1,NYA,AL,2,2,0,1,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89498,claytro01,2007,2,BOS,AL,8,6,1,0,0,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,2.0
89499,claytro01,2007,1,TOR,AL,69,189,23,48,14,...,12.0,2.0,1.0,14,50.0,0.0,1.0,3.0,3.0,8.0
89501,cirilje01,2007,2,ARI,NL,28,40,6,8,4,...,6.0,0.0,0.0,4,6.0,0.0,0.0,0.0,0.0,1.0
89502,cirilje01,2007,1,MIN,AL,50,153,18,40,9,...,21.0,2.0,0.0,15,13.0,0.0,1.0,3.0,2.0,9.0
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,...,66.0,5.0,0.0,132,54.0,43.0,3.0,0.0,2.0,13.0
89523,biggicr01,2007,1,HOU,NL,141,517,68,130,31,...,50.0,4.0,3.0,23,112.0,0.0,3.0,7.0,5.0,5.0
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0